.app-main_catalog {
  display: grid;
  width: 100%;
  max-width: 1440px;
  padding: 2em 0;
  margin: 0 auto;
  grid-template-columns: 18% 80%;
  gap: 1em 2%;
}

.catalog-toys {
  display: grid;
  grid: auto-flow minmax(300px, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
  padding-left: 0;
  margin: 0;
  gap: 1em 1em;
  list-style-type: none;
}