.app-main_catalog {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1em 3em;
  width: 100%;
  max-width: 1440px;
  padding: 2em 2em;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    grid-template-columns: 100%;
    row-gap: 5em;
  }
}

.catalog-toys {
  display: grid;
  grid: auto-flow minmax(300px, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
  padding-left: 0;
  margin: 0;
  gap: 1em 1em;
  list-style-type: none;
}