<h3 class="toy-card__header">***name***</h3>
<label class="toy-card__favorites" title="Довить в избранное">
  <input type="checkbox" class="toy-card__favorites__checkbox"><i class="toy-card__favorites__icon fa fa-star"></i>
</label>
<dl class="toy-card__characteristics">
  <dt class="toy-card__characteristics__count-title characteristics__title">На складе</dt>
  <dd class="toy-card__characteristics__count-defenition characteristics__defenition">***count***</dd>
  <dt class="toy-card__characteristics__year-title characteristics__title">Год выпуска</dt>
  <dd class="toy-card__characteristics__year-defenition characteristics__defenition">***year***</dd>
  <dt class="toy-card__characteristics__shape-title characteristics__title">Форма</dt>
  <dd class="toy-card__characteristics__shape-defenition characteristics__defenition">***shape***</dd>
  <dt class="toy-card__characteristics__color-title characteristics__title">Цвет</dt>
  <dd class="toy-card__characteristics__color-defenition characteristics__defenition">***color***</dd>
  <dt class="toy-card__characteristics__size-title characteristics__title">Размер</dt>
  <dd class="toy-card__characteristics__size-defenition characteristics__defenition">***size***</dd>
</dl>