@import '../../app.scss';

.showroom__checkpoint {
  box-sizing: border-box;
  grid-area: checkpoint;
  width: 100%;
  padding: 0 1em;

  &__save-list {
    padding-left: 0;
    list-style: none;
    @include defFont;

    &__item {
      text-align: center;
      &:hover {
        cursor: pointer;
        color: $red;
      }
    }
  }
}
