<nav class="sidebar-catalog__navigation">
  <ul class="sidebar-catalog__navigation__range-filters">
    <li
      class="sidebar-catalog__navigation__range-filters__year-filter double-filter year-filter"
    >
      <h3 class="filter-header year-filter__header">Year of release</h3>
      <div class="double-filter__slider year-filter__slider"></div>
    </li>
    <li
      class="sidebar-catalog__navigation__range-filters__count-filter double-filter count-filter"
    >
      <h3 class="filter-header count-filter__header">Store amount</h3>
      <div class="double-filter__slider count-filter__slider"></div>
    </li>
  </ul>
  <ul class="sidebar-catalog__navigation__value-filters"></ul>
  <div class="sidebar-catalog__navigation__reset">
    <button class="sidebar-catalog__navigation__reset__button default-button">
      Reset filters
    </button>
  </div>
  <div class="sidebar-catalog__navigation__sorter">
    <h3 class="filter-header sorter__header">Sort methods</h3>
    <label
      class="filter-header sidebar-catalog__navigation__sorter__label sorter__label"
    >
      <select
        class="sidebar-catalog__navigation__sorter__select-list sorter__select-list default-button"
      >
        <option value="" disabled selected>Choose sort method</option>
        <option value="name-ascending">Name from А to Z</option>
        <option value="name-descending">Name from Z to A</option>
        <option value="count-ascending">By amount - ascending</option>
        <option value="count-descending">By amount - descending</option>
        <option value="year-ascending">By year - ascending</option>
        <option value="year-descending">By year - descending</option>
      </select>
    </label>
  </div>
  <div class="sidebar-catalog__navigation__favorites-selector">
    <h3 class="filter-header favorites-selector__header">Only favorites</h3>
    <label class="favorites-selector__label" title="Только избранное">
      <input type="checkbox" class="favorites-selector__checkbox" /><i
        class="favorites-selector__icon fa fa-star"
      ></i>
    </label>
  </div>
  <div class="sidebar-catalog__navigation__reset-all">
    <button
      class="sidebar-catalog__navigation__reset-all__button default-button"
    >
      Null settings
    </button>
  </div>
</nav>
