$green: #04290d;
$red: #c01919;
$gold: #e7b100;

$toWhite: invert(100%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(100%) contrast(103%);
$toRed: invert(15%) sepia(99%) saturate(6849%) hue-rotate(359deg) brightness(93%) contrast(91%);

@mixin defFont {
  font-family: 'Montserrat';
  font-weight: 400;
}

@mixin defSize {
  font-size: 1rem;
}

@mixin defAnimation($prop) {
  transition: $prop .1s ease;
}

