@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

html {
  height: 100%;
}

.app-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.app-main {
  flex: 1 1 auto;
}