@import '../../app.scss';

:root {
  --colorful: 192, 25, 25;
  --red: 255, 0, 0;
  --green: 51, 255, 15;
  --yellow: 231, 227, 0;
  --blue: 0, 183, 255;
  --white: 255, 255, 255;
  --light-color: var(--green);
}

.showroom__display {
  grid-area: display;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 2em;
  border: 2px solid $grey;
  border-radius: 2rem;
  background: $grey;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.showroom__display__tree-container {
  position: relative;
  &__tree {
    width: 100%;
    height: 100%;
  }
}

.showroom__display__snow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.showroom__display__snow-container__snowflake {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      --size: #{random(5) * 0.3}em;
      --left-ini: #{percentage(random(100) / 100)};
      --left-end: #{percentage(random(100) / 100)};
      left: #{percentage(random(100) / 100)};
      animation: snowfall #{5 + random(15)}s linear infinite;
      animation-delay: -#{random(2)}s;
    }
  }
  
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 100em, 0);
    }
  }
}


.showroom__display__snow-container__snowflake:nth-child(6n) {
  filter: blur(1px);
}

.showroom__display__lights-container {
  $diametr: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_off {
    visibility: hidden;
  }

  &__rope {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    &:first-child {
      align-items: center;
    }
  }

  &__light {
    width:  $diametr;
    height:  $diametr;
    animation-duration: .8s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    background: rgba(var(--light-color), 1);
    animation: flash-1 1.2s linear infinite;

    &:nth-child(even) {
      animation-delay: .1s;
    }

    &:nth-child(odd) {
      animation-delay: .3s;
    }

    &:nth-child(3n+1) {
      animation-delay: .6s;
    }

    @keyframes flash-1 { 
      0%, 100% {
        box-shadow: 0 0 $diametr 5px rgba(var(--light-color), 1);
      } 
      50% {
        box-shadow: 0 0 $diametr 5px rgba(var(--light-color), .4);
      }
    }


  }

  &__light_colorful {

    &:nth-child(odd) {
      background: rgba(var(--green), 1);
      animation-name: flash-2;
      animation-delay: .3s;
    }

    &:nth-child(3n+1) {
      background: rgba(var(--blue), 1);
      animation-name: flash-3;
      animation-delay: .6s;
    }

    @keyframes flash-2 { 
      0%, 100% {
        box-shadow: 0 0 $diametr 5px rgba(var(--green), 1);
      } 
      50% {
        box-shadow: 0 0 $diametr 5px rgba(var(--geen), .4);
      }
    }

    @keyframes flash-3 { 
      0%, 100% {
        box-shadow: 0 0 $diametr 5px rgba(var(--blue), 1);
      } 
      50% {
        box-shadow: 0 0 $diametr 5px rgba(var(--blue), .4);
      }
    }
  }
}

.showroom__display__toys-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  &__toy {
    position: absolute;
    width: 3em;
    height: 3em;
    background-size: contain;
    &:hover {
      cursor: grab;
    }
    &_grabbing {
      filter: $toGreen;
    }
  }
}

polygon {
  position: absolute;
  z-index: 1000;
}