@import '../../app.scss';

.showroom__settings {
  @include defFont;
  &__section {
    margin-bottom: 4em;

    &__header {
      color: $green;
      margin: 0 0 1em;
      font-size: 25px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 2em 2em;
      padding-left: 0;
      list-style-type: none;

      &_lights {
        gap: 2em 1em;
      }
    }

    &__item {
      height: 2em;
      width: 2em;
      opacity: .5;
      @include defAnimation(all);

      @mixin artistItem {
        background: $grey;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: .5rem;
        border: 2px solid $grey;

        &_active {
          opacity: 1;
          border: 2px solid $gold;
          &:hover {
            opacity: .8;
          }
        }
      }

      &:hover {
        cursor: pointer;
        opacity: .2;
      }

      &_tree {
        height: 5em;
        width: 5em;
        @include artistItem;
        background-size: 50%;
      }

      &_bg {
        @include artistItem;
        background-size: cover;
      }

      &_light {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .2em;
        border-radius: .3em;

        &::after {
          @include fontAwesome('\f0eb', 900);
          font-size: 1.5em;
        }

        &_colorful {
          background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        &_red {
          color: $red;
        }

        &_green {
          color: green;
        }

        &_yellow {
          color: #e7e730;
        }

        &_blue {
          color: #000096;
        }

        &_white {
          color: #fffde1;
          text-shadow: 2px 2px $grey;
        }

        &_active {
          opacity: 1;
          background: rgba($green, .8);
          &:hover {
            opacity: .8;
          }
          &.showroom__settings__section__item_light_colorful {
            background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
            -webkit-background-clip: inherit;
            -webkit-text-fill-color: white;
            background-clip: inherit;
            
            color: white;
          }
        }
      }

      &_eq {

        &::after {
          font-size: 2em;
        }

        &_music {
          &::after {
            @include fontAwesome('\f001', 600);
          }
        }

        &_snow {
          &::after {
            @include fontAwesome('\f2dc', 600);
          }
        }

        &_active {
          opacity: 1;
          color: $green;
          
          &:hover {
            opacity: .8;
          }
        }

      }
    }

    &_lights {

      &__activator {
        position: relative;
        -webkit-appearance: none;
        padding: .3rem;
        height: 2rem;
        width: 4rem;
        background: $grey;
        border-radius: 50px;
        outline: none;
        @include defAnimation(all);
        
        &::after {
          position: absolute;
          top: 50%;
          width: 1.6rem;
          height: 1.6rem;
          transform: translateY(-50%);
          background: #fff;
          border-radius: 50%;
          box-sizing: border-box;
          opacity: .8;
          content: "";
        }
      
        &:checked {
          background: $green;
          &::after {
            right: .3rem;
            opacity: 1;
          }
        }
      
        &:hover {
          cursor: pointer;
        }
      }

    }
  }
}
