<div class="app-header__wrapper">
  <div class="app-logo"></div>
  <div class="app-header__hideble-items app-header__hideble-items_hidden">
    <nav class="app-header__nav page-nav"></nav>
    <div class="app-header__search search">
      <div class="search__input">
        <input class="search__input__line" type="text" placeholder="Найти украшение..." autofocus>
        <i class="search__input__icon"></i>
      </div>
      <div class="search__results"></div>
    </div>
  </div>
  <button class="app-header__favorites favorites">
    <span class="favorites__display"></span>
  </button>
</div>