@import '../../app.scss';

.search__input {
  position: relative;
  &__line {
    box-sizing: border-box;
    height: 39px;
    width: 100%;
    padding: .5em 1em;
    @include defFont;
    border: none;
    border-radius: 2rem;
    outline: none;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: .7rem;
    transform: translateY(-50%);

    &::after {
      @include fontAwesome('\f002', 600);
    }
  }
}

.search__input__icon_close {
  &::after {
    @include fontAwesome('\f00d', 900);
  }

  &:hover {
    cursor: pointer;
    color: $grey;
  }
}