@import '../../app.scss';

.app-footer {
  background: $green;
}

.footer__items {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  list-style-type: none;
  
  @media screen and (max-width: 560px) {
    padding: 2em 1em;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.rss-logo {
  display: block;
  background: url('@svg/rss-logo.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 6rem;
  height: 3rem;
  filter: $toWhite;
  @include defAnimation(filter);

  &:hover {
    filter: $toRed;
  }
}

.footer__item__link {
  @include defFont;
  @include defSize;
  color: white;
  text-decoration: none;
  @include defAnimation(all);
  
  &:hover {
    color: $red;
    font-weight: bold;
  }
}

.footer__item__text {
  margin: 0;
  @include defFont;
  @include defSize;
  color: white;
}