@import '../../app.scss';

.catalog-sidebar {
  @include defFont;
}

.sidebar-catalog__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 2em;

  &__range-filters,
  &__value-filters {
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  @media screen and (max-width: 900px) {
    column-gap: 3em;
  }
}

.double-filter,
.shape-filter,
.color-filter {
  margin-bottom: 2em;
}

.value-filter__items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  list-style-type: none;
}

.value-filter__item {
  display: block;
  width: 2em;
  height: 2em;
  border: 1px solid transparent;
  outline: none;

  @media screen and (max-width: 900px) {
    width: 4em;
    height: 4em;
  }

  @media screen and (max-width: 530px) {
    width: 3em;
    height: 3em;
  }

  @include defAnimation(all);

  @mixin shape($path) {
    background: center / contain no-repeat url($path);
    filter: $toGrey;
  }

  @mixin size($content) {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: $content;
      transform: translate(-50%, -50%);
    }
    
    &.value-filter__item_active {
      color: $green;
      font-weight: 600;
      border-color: $green;
      border-radius: .3rem;
      filter: none;
    }
  }

  @mixin color($color) {
    background: $color;
    opacity: .3;
    border-radius: .3rem;
    &.value-filter__item_active {
      opacity: 1;
      filter: none;
    }
    &:hover {
      border-color: $red;
    }
  }

  &_ball {
    @include shape('@svg/toy-shapes/ball.svg');
  }

  &_bell {
    @include shape('@svg/toy-shapes/bell.svg');
  }

  &_figure {
    @include shape('@svg/toy-shapes/figure.svg');
  }

  &_cone {
    @include shape('@svg/toy-shapes/cone.svg');
  }

  &_snowflake {
    @include shape('@svg/toy-shapes/snowflake.svg');
  }

  &_red {
    @include color(red);
  }

  &_yellow {
    @include color(yellow);
  }

  &_green {
    @include color(green);
  }

  &_darkblue {
    @include color(darkblue);
  }

  &_white {
    @include color(white);
    border-color: #ebebeb;
  }

  &_xl {
    @include size('XL');
  }

  &_m {
    @include size('M');
  }

  &_s {
    @include size('S');
  }

  &:hover {
    cursor: pointer;
    opacity: .2;
  }

  &_active {
    filter: $toGreen;
    &:hover {
      opacity: .8;
    }
  }

}

.size-filter__items {
  justify-content: flex-start;
  column-gap: 1.3em;
}

.favorites-selector {
  &__label {
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    order: 2;
    visibility: hidden;
    &:checked + .favorites-selector__icon {
      color: $gold;
    }
  }

  &__icon {
    order: 1;
    color: $grey;
    font-size: 2.5em;
  }

}

.filter-header {
  color: $green;
  margin: 0 0 2em;
  font-size: 25px;
}

.shape-filter__header,
.color-filter__header,
.size-filter__header,
.sorter__header,
.favorites-selector__header {
  margin-bottom: 1em;
}

.sidebar-catalog__navigation__reset {
  width: 100%;
}

.sidebar-catalog__navigation__sorter,
.sidebar-catalog__navigation__favorites-selector {
  @media screen and (max-width: 900px) {
    width: auto;
  }
}

.sorter__select-list {
  background: none;
  justify-content: flex-start;
  padding: 1em 1em;
}

.noUi-handle {
  height: 2em !important;
  width: 2em !important;
  border-radius: 50% !important;
  transform: translateY(-.2em);
  &::before,
  &::after {
    display: none !important;
  }
  &:hover {
    cursor: e-resize;
  }
}

.noUi-horizontal {
  height: 1em !important;
}

.noUi-connects {
  transform: translateY(-.5px);
}