<nav class="sidebar-catalog__navigation">
  <ul class="sidebar-catalog__navigation__range-filters">
    <li class="sidebar-catalog__navigation__range-filters__year-filter double-filter year-filter">
      <h3 class="filter-header year-filter__header">Год выпуска</h3>
      <div class="double-filter__slider year-filter__slider"></div>
    </li>
    <li class="sidebar-catalog__navigation__range-filters__count-filter double-filter count-filter">
      <h3 class="filter-header count-filter__header">Количество на складе</h3>
      <div class="double-filter__slider count-filter__slider"></div>
    </li>
    <!-- <li class="sidebar-catalog__navigation__filters__shape-filter list-filter shape-filter">
      <h3 class="filter-header shape-filter__header">Форма игрушки</h3>
      <ul class="list-filter__items shape-list">
        <li class="shape-list__item shape-list__item"></li>
      </ul>
    </li> -->
  </ul>
  <ul class="sidebar-catalog__navigation__value-filters">
  </ul>
</nav>